<div class="content">
  <div class="column">
    <app-topping-list
      *ngIf="allToppings$ | async as allToppings"
      [toppings]="allToppings"
      (chooseTopping)="chooseTopping($event)"
      [test]="test"
    ></app-topping-list>
  </div>
  <div class="column">
    <img
      src="./assets/salad.jpeg"
      alt="Ma super belle salade"
      class="salad-img"
    />
    <h2 i18n>Your order :</h2>
    <h3>{{ calculatedPrice$ | async | currency : "€" }}</h3>
    <h4>{{ dressing$ | async }}</h4>
    <ul>
      <li *ngFor="let topping of toppings$ | async">
        <!-- <span>{{ topping.name }} - {{ topping.price | currency : "€" }}</span> -->
        <span> {{ getToppingText(topping) }}</span>
      </li>
    </ul>
  </div>
</div>
<button (click)="changeTest()">test change</button>